
@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/_ViewStart.cshtml";
}

<link href="~/Content/bootstrap.css" rel="stylesheet" />

<div style="padding-top:30pt">
    <div class="col-sm-4">
        <img class="img-circle" style="height:300px;width:300px" src="~/Content/Images/1920x1200.jpg" />
    </div>
    <div class="col-sm-4">
        <img class="img-circle" style="height:300px;width:300px" src="~/Content/Images/2.jpg" />
    </div>
    <div class="col-sm-4">
        <img class="img-circle" style="height:300px;width:300px" src="~/Content/Images/4x6..2c....jpg" />
    </div>

    <div class="col-sm-4">
        <img class="img-circle" style="height:300px;width:300px" src="~/Content/Images/Symbols-of-love-red-rose-and-hearts_1920x1080.jpg" />
    </div>
    <div class="col-sm-4">
        <img class="img-circle" style="height:300px;width:300px" src="~/Content/Images/maxresdefault.jpg" />
    </div>
    <div class="col-sm-4">
        <img class="img-circle" style="height:300px;width:300px" src="~/Content/Images/M.jpg" />
    </div>
</div>

