
@{
    ViewBag.Title = "Logout";
    Layout = null;
}
<html>
<head>

    <script type="text/javascript">

        window.setTimeout(function () {
            window.location.href = 'Index';
        }, 3000);
    </script>
</head>

<body>
    <center>
        <img src="~/Content/Images/logout2.png" style="margin-top: 170pt">
        <h2 style="text-transform: capitalize">Please wait, We are redirect to Home page </h2>
    </center>
</body>
</html>