@model Q4TM.Models.EmployeeTaskModel
@{
    ViewBag.Title = "Q4TM";
    Layout = "~/Views/Shared/_User.cshtml";
}
@*<div class="container qsearch" style="display:none;padding-top:10px;padding-left:350px">
        <form>
            <div class="col-md-4">
                @Html.EditorFor(model => model.TaskDate, new { htmlAttributes = new { @class = "form-control", placeholder = "Pick Date", id = "Q4TMdatePick" } })
            </div>

            <div class="col-md-2">
                <input id="btnQ4TMSearch" type="button" value="Search" class="btn btn-primary" />
            </div>
        </form>
    </div>*@

<a href="UserPage" style="margin-left:20px" class="regTask btn btn-success"><i class="glyphicon glyphicon-plus-sign"></i>Create New Task</a><br />
<div class="row">
    <div class="col-md-6">
        <div class="panel panel-body">
            <div class="panel panel-default">
                <div class="IU">

                </div>

            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-body">
            <div class="panel panel-default">
                <div class="INU">

                </div>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-body">
            <div class="panel panel-default">
                <div class="NIU">

                </div>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="panel panel-body">
            <div class="panel panel-default">
                <div class="NINU">

                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.12.4.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<script>
    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "/Q4TM/IUTasks",
            success: function (response) {
                if (response != "" || response != null) {

                    $(".IU").empty();
                    $(".IU").append(response);
                }
            }
        })

        $.ajax({
            type: "GET",
            url: "/Q4TM/INUTasks",
            success: function (response) {
                if (response != "" || response != null) {

                    $(".INU").empty();
                    $(".INU").append(response);
                }
            }
        })

        $.ajax({
            type: "GET",
            url: "/Q4TM/NIUTasks",
            success: function (response) {
                if (response != "" || response != null) {

                    $(".NIU").empty();
                    $(".NIU").append(response);
                }
            }
        })

        $.ajax({
            type: "GET",
            url: "/Q4TM/NINUTasks",
            success: function (response) {
                if (response != "" || response != null) {

                    $(".NINU").empty();
                    $(".NINU").append(response);
                }
            }
        })
    })



    $().ready(function () {
        $("#Q4TMdatePick").datepicker();
    })



    //$("#btnQ4TMSearch").click(function () {

    //    var from = $("#Q4TMdatePick").val();

    //    $.ajax({
    //        type: "POST",
    //        url: "/Q4TM/SearchIU",
    //        data: { PIUdate: from },
    //        success: function (response) {

    //            if (response != "" || response != null) {
    //                $(".IU").empty();
    //                $(".IU").append(response);
    //                $("#Q4TMdatePick").val('');

    //            }
    //        }
    //    })
    //})

</script>

